body {
    font-family: 'Georgia', serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 2rem;
    overflow: hidden;
  }
  
  .head {
    text-align: center;
    padding: 10px 20px 20px;
  }
  
  .head h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
  }
  
  .main-image {
    width: 500px;
    height: 300px;
    margin-top: -2rem;
    
  }
  
  .skills {
    text-align: center;
    padding: 60px 10px;
    margin-top: -4rem;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: auto;
  }
  
  .skill-card {
    background-color: rgba(115, 244, 249, 0.655);
    border-radius: 16px;
    width: 80px;
    height: 80px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .skill-card i {
    font-size: 3.5rem;
    color: #444;
    transition: color 0.3s ease;
  }
  
  .skill-card:hover {
    transform: scale(1.08);
    cursor: pointer;
    border: 1px red solid;
  }
  
  .skill-card:hover i {
    color: red;
  }
  
  
  /* for c++ */
  .custom-icon {
    font-size: 2.5rem;
    color: #444;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .skill-card:hover .custom-icon {
    color: red;
  }
  
  .svg-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
    filter: grayscale(1) brightness(0.5);
    transition: filter 0.3s ease;
  }
  
  /* for figma and tailwind */
  .skill-card:hover .svg-icon {
    filter: brightness(0) saturate(100%) invert(17%) sepia(80%) 
            saturate(7413%) hue-rotate(1deg) brightness(96%) contrast(68%);
  }
  
  
  
  
  
  
  
  
  .signature {
    position: fixed;
    top: 25px;
    left: 25px;
    border-radius: 15%;
    width: 150px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0 0 5px #00ffff)
            drop-shadow(0 0 10px rgba(0, 255, 255, 0.3));
    transform: rotate(3deg);
    cursor: pointer;
  }
  
 
  
  
  
  
  
  .bottom-nav {
    background-color: rgb(150, 234, 246);
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 500px;
    margin: 15px auto;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
    z-index: 1000;
  }
  
  
  .nav-link {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    padding: 0 20px;
    transform: translateZ(0);
    will-change: transform, box-shadow;
  }
  
  .nav-link:hover {
    color: #ff004f;
    transform: translateY(-3px) scale(1.3);
  }
  