body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    text-align: left; 
}

.left-side {
    width: 45%;
    display: flex;
    justify-content: center;
     
}

.right-side {
    width: 45%;
    /* text-align: center; */
}

.profile-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0);
}

.profile-img:hover {
    transform: scale(1.05) translateZ(10px);
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.5),
                0 0 80px rgba(0, 255, 255, 0.3),
                0 0 100px rgba(0, 255, 255, 0.2);
    /* filter: brightness(1.05) */
}

.tech-image {
    width: 45%;
    height: 500px;
    object-fit: cover;
    transition: all0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0);
}

.name {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.name-highlight {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(150, 234, 246);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.3),
                 0 0 20px rgba(0, 255, 255, 0.2),
                 0 0 30px rgba(0, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
                
}

.name-highlight:hover {
    transform: scale(1.05) translateZ(10px);
    text-shadow: 0 0 50px rgba(0, 255, 255, 0.5),
                 0 0 80px rgba(0, 255, 255, 0.3),
                 0 0 100px rgba(0, 255, 255, 0.2),
                 0 0 15px rgba(0, 70, 65, 0.5);
    filter: brightness(1.1);
}

.name-highlight .exclamation {
    color: #FF4040; /* Floral red */
    text-shadow: 0 0 8px rgba(255, 64, 64, 0.4);
    display: inline-block;
    transition: all 0.3s ease;
}

/* .name-highlight .exclamation:hover {
    text-shadow: 0 0 15px rgba(255, 64, 64, 0.6);
} */

.tagline {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    /* color: #444; */
}


.tagline .learn {
    color: #FF4040; 
    text-shadow: 0 0 8px rgba(255, 64, 64, 0.4);
}

.tagline .build {
    color: rgb(150, 234, 246); 
    text-shadow: 0 2px 10px rgba(0, 255, 255, 0.893);
}

.tagline .ship {
    color: #FF4040; 
    text-shadow: 0 0 8px rgba(255, 64, 64, 0.4);
}

.tagline span {
    transition: all 0.3s ease;
    display: inline-block;
}

.tagline span:hover {
    transform: translateY(-2px);
    text-shadow: 0 0 15px currentColor;
}

.writing-section {
    display: flex;
    font-size: 1.2rem;
    gap: 1.5rem;
    margin: 2rem 0;
}

.social-icons {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0;
}

.social-link {
    color: #2d2d2d;
    font-size: 1.9rem;
    transition: all 0.3s ease;
    border-radius: 50%;
    transform: translateZ(0);
    will-change: transform, filter;
}

.social-link:hover {
    color: #00ffff;
    transform: scale(1.2) translateY(-3px);
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.6)),
            drop-shadow(0 0 20px rgba(0, 255, 255, 0.4)),
            drop-shadow(0 0 30px rgba(0, 255, 255, 0.2));

    position: relative;
    z-index: 1;
}

.resume-link {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2d2d2d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    transform: translateZ(0);
    will-change: transform, box-shadow;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resume-link:hover {
    background-color: #00ffff;
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0 2px 25px rgba(0,255, 255, 0.4),
                0 2px 50px rgba(0,255, 255, 0.3),
                0 2px 100px rgba(0,255, 255, 0.2);

    text-shadow:  0 0 10px rgba(255, 255, 255, 0.3);
}


.cyber-image {
    position: fixed;
    top: 25px;
    left: 25px;
    border-radius: 15%;
    width: 150px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0 0 5px #00ffff)
            drop-shadow(0 0 10px rgba(0, 255, 255, 0.3));
    transform: rotate(3deg);
    cursor: pointer;
}

.cyber-image:hover {
    transform: rotate(-3deg) scale(1.1);
    filter: drop-shadow(0 0 10px #00ffff)
            drop-shadow(0 0 20px rgba(0, 255, 255, 0.5),)
            drop-shadow(0 0 30px rgba(0, 255, 255, 0.3));
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
}

.bottom-nav {
    background-color: rgb(150, 234, 246);
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 500px;
    margin: 15px auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.2);
}

.bottom-nav:hover:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #00ffff;
    border-radius: 112px;
    z-index: -1;
    background-size: 200% 200%;

    animation: border-glow 2.5s linear infinite;

    filter: blur(8px);
    opacity: (0.7)
    
}

@keyframes border-glow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.nav-link {
    color: white;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    transition: all 0.3s ease;
    padding: 0 20px;
    transform: translateZ(0);
    will-change: transform, box-shadow;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    /* background-color: #00ffff; */
    background-color: #FF4040;
    transition: all 0.3s ease;
    border-radius: 2px;
    width: 0;
    filter: drop-shadow(0 0 2px 2px #00ffff);

}

.nav-link:hover::after{
    width: 50px;
    opacity: 1;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.3);
}
.nav-link:hover {
    color: #00ffff;
    /* color: #ff4040; */
    transform: translateY(-3px) scale(1.3);
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.4))
           drop-shadow(0 0 10px rgba(0, 255, 255, 0.3))
           drop-shadow(0 0 15px rgba(0, 255, 255, 0.2));
}






